{% extends 'helium/layout.html' %}
{% load static %}

{% block pagetitle %}Dashboard{% endblock %}

{% block layout-header %}
<section id="banner">
<img src="{% static 'img/balloons.png' %}"/>
</section>
{% endblock %}

{% block layout-content %}
<h2>Helium 2.0 (<a href="{% static 'helium-manual/helium-manual.pdf' %}">user manual</a>)</h2>
<p>
	This is <b>Helium</b>, a grading system for math contests. It was originally developed for HMMT in October of 2016 and since forked for WinMaC.
	Use the link above for user manual.
</p>
<hr />

<h4>Grade by Scans</h4>
<p><i>New graders: pick a random problem and press Start Scan Grader.
	Alternatively, use "Match Scans" if you want to match children to names.
	Avoid "Upload Scans" unless instructed to do so.</i></p>

<form action="{% url 'grade_scans_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ problemscanform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Start Scan Grader" />
		</div>
	</div>
</form>

<form action="{% url 'fast_match_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ examscanform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Match Scans" />
		</div>
	</div>
</form>

<ul>
	<li><a href="{% url 'upload_scans' %}">Upload Scans</a></li>
</ul>

<h4>Grade by Physical Papers</h4>
<p><i>Do not use these tools for exams graded by scans!</i></p>

<form action="{% url 'old_grader_exam_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ examform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Classical Grader" />
		</div>
	</div>
</form>
<form action="{% url 'old_grader_problem_redir' %}" method="post">
	<div class="clearfix">
		<div class="col-xs-8">
		{% csrf_token %}
		{{ problemform.as_p }}
		</div>
		<div class="col-xs-4">
		<input type="submit" name="from_landing" value="Classical Grader" />
		</div>
	</div>
</form>

<ul>
	<li><a href="{% url 'estimation_calc' %}">Guts estimation calculator</a></li>
</ul>

<h4>View</h4>
<div class="clearfix">
	<div class="col-xs-6">
		<ul>
		<li><a href="{% url 'find_paper' %}">Find paper (and issues)</a></li>
		<li><a href="{% url 'view_conflicts_own' %}">View your conflicts</a></li>
		<li><a href="{% url 'view_conflicts_all' %}">View all conflicts</a></li>
		<li><a href="{% url 'view_comedy' 25 %}">View comedic answers</a></li>
		{% if request.user.is_superuser %}
			<li><a href="/admin/helium/">Django admin console</a> (admin)</li>
		{% endif %}
		</ul>

	</div>
	<div class="col-xs-6">
		<ul>
		<li><a href="{% url 'progress_problems' %}">Progress grading</a></li>
		<li><a href="{% url 'progress_scans' %}">Progress matching scans</a></li>
		<li><a href="{% url 'scoreboard' %}">Guts scoreboard</a></li>
		<li><a href="{% url 'results_short' %}">Print short results</a></li>
		<li><a href="{% url 'results_extended' %}">Print extended results</a></li>
		<li><a href="{% url 'reports_awards' %}">Get awards beamer</a></li>
		{% if request.user.is_superuser %}
			<li><a href="{% url 'reports_full' %}">Print full results</a> (admin)</li>
			<li><a href="{% url 'reports_spreadsheet' %}">Score spreadsheet</a> (admin)</li>
		{% endif %}
		</ul>
	</div>
</div>

{% if request.user.is_superuser %}
<h4>Management Commands</h4>
<ul>
	<li><a href="{% url 'manage' 'algscore' %}">Run algorithmic scoring</a></li>
	<li><a href="{% url 'manage' 'grade' %}">Run grading</a></li>
	<li><a href="{% url 'manage' 'cleanverdicts' %}">Clean verdicts</a></li>
	<li><a href="{% url 'manage' 'updatescribbles' %}">Update scribbles</a></li>
	<li><a href="{% url 'manage' 'releaseattention' %}">Release scribbles from attention queue</a></li>
</ul>
{% endif %}

<hr />

<h4>Static files</h4>
<ul>
	<li><a href="{% static 'helium-manual/helium-manual.pdf' %}">User manual</a></li>
	<li><a href="{% static 'answers/november-answersheet.pdf' %}">HMMT Nov answer sheets (pdf)</a></li>
	<li><a href="{% static 'answers/february-answersheet.pdf' %}">HMMT Feb answer sheets (pdf)</a></li>
	<li><a href="{% static 'answers/internal-answersheet.pdf' %}">Example answer sheets (pdf)</a></li>
	<li><a href="{% static 'sample-scans/batchX.pdf' %}">Sample scans (pdf, part 1 of 2)</a></li>
	<li><a href="{% static 'sample-scans/batchY.pdf' %}">Sample scans (pdf, part 2 of 2)</a></li>
</ul>
{% endblock %}

{% block layout-footer %}
<section id="footer">
<p>Helium &copy; 2017 Evan Chen</p>
</section>
{% endblock %}
