{% extends "helium/base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript">   
    function scoreboardUpdate(){
        $.getJSON('/helium/scoreboard/update',
            function (data) {
                var tr;
                    $('#scoreboard-body').html("");
                        for (t in data) {
                            tr = $('<tr/>');
                            tr.append("<td>" + data[t]["name"] + "</td>");
                            tr.append("<td style='vertical-align:middle;height:100%;'><div class='container'><div class='progress'><div class='progress-bar' role='progressbar' style='width:" + data[t]["progress"] + "'></div></div></div></td>)");
                            tr.append("<td>" + data[t]["score"] + "</td>");
                            $('#scoreboard-body').append(tr);
                        }
            $(function () {
                $('body').show();
            });
            }
        );
    }
    setInterval(scoreboardUpdate, 5000)
    setTimeout(scoreboardUpdate, 0)
</script>

<script>
    var eleCountdown = document.getElementById("countdown");
    var eleDuration = document.getElementById("duration");
    var eleStatus = document.getElementById("status");
    var timerDuration;
    var running = false;
    var secondsRemaining;
    var timerId;

    function secondsToTime(seconds) {
    var t = new Date(seconds*1000);
    return t.toISOString().substr(14, 5);
    }

    function updateSeconds() {
    secondsRemaining--;
    countdown.textContent = secondsToTime(secondsRemaining);
    if (secondsRemaining) {
        timerId = setTimeout(updateSeconds, 1000); //in milliseconds unit
    } else {
        eleStatus.textContent = "(stopped)";
    }
    }

    function setTimer(seconds) {
    //can only set timer duration if timer is not running
    if (!running) {
        timerDuration = seconds;
        secondsRemaining = timerDuration;
        if (timerDuration >= 60*60) {
        if (timerDuration == 60*60) {
            duration.textContent = "1 Hour";
        } else {
            duration.textContent = (timerDuration/(60*60))+" Hours";
        }
        } else {
        if (timerDuration == 60) {
            duration.textContent = "1 Minute";
        } else {
            duration.textContent = (timerDuration/60)+" Minutes";
        }
        }
        resetClock();
    }
    }

    function resetClock() {
    pauseClock();
    countdown.textContent = secondsToTime(timerDuration);
    eleStatus.textContent = "(stopped)";
    }

    function pauseClock() {
    //can only pause if timer is running
    if (running) {
        running = false;
        clearTimeout(timerId);
        eleStatus.textContent = "(paused)";
    }
    }

    function startClock() {
    //can only start/resume if timer is not running
    document.getElementById("button").value = "Freeze";
    if (!running) {
        running = true;
        timerId = setTimeout(updateSeconds, 1000); //in milliseconds unit
        eleStatus.textContent = "(running)";
    }
    document.getElementById("button").onclick = freeze();
    }

    setTimer(40*60);

    function freeze() {
        body.innerHTML = "<center><p style='font-size:216px'>Time Remaining<p style='font-size:216px' id='countdown'></font></center>";
    }
</script>

<div id="body">
<center><h1>Guts Scoreboard</h1><p style="font-size:156px" id="countdown"></p>
<input onclick="startClock()" class="button-primary" type="button" value="Start" id="button"></center>

<style>
    body {
        display: none;
    }
    th {
        text-align:center
    }
    table {
        font-size: 24pt;
    }
    div.progress{
        margin:0;
    }
</style>

    <table id="scoreboard" class="table table-striped table-condensed text-center">
        <thead>
            <tr>
                <th>Teams</th>
                <th></th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody id = "scoreboard-body"></tbody>
    </table>    

</div>

{% endblock %}